html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('img/bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 25px;
    padding: 20px 40px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select {
    background-color: #eee;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 15px;
}

button {
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
    padding: 12px 45px;
    font-size: 12px;
    cursor: pointer;
    transition: transform 80ms ease-in;
    margin-top: 20px;
}

button:hover {
    background-image: linear-gradient(to right, #5a0e9d, #1e5bc0);
}

.login-link {
    margin-top: 20px;
}

.login-link a {
    color: #FF416C;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.warning-container {
    border: 2px solid rgba(255, 0, 0, 0.5);
    border-radius: 1px;
    padding: 0px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.warning {
    color: red;
    font-size: 14px;
}